.label-upload{
    font-weight: bold;
    color: rgb(231, 77, 77);
}

.quote{
    font-size: 14px;
    font-style: italic;
    margin: 5px 0;
}

.date{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    border-radius: 1rem;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.img-certify{
    height: 150px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 75px;
    right: 31px;
}

.icon-x{
    top: -4px;
    right: 0px;
}

.section-support {
    border: 7px dashed #e8eefc;
    padding: 30px;
    margin-top: 30px;
    border-radius: 50px;
}

.support-item-title{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #f80;
}

.support-item{
    display: block;
    color: #233762;
    margin: 5px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-quality-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.center-quality {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center-paypal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.msg {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
